<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443780961494-6o5cocui92vo3nvdh38nm6rculn52ens.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443780961494-6o5cocui92vo3nvdh38nm6rculn52ens</string>
	<key>API_KEY</key>
	<string>AIzaSyDynPStdytbRC9upDdj7LxjGio6EDPrrpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>443780961494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SwiftUI-Messanger</string>
	<key>PROJECT_ID</key>
	<string>swiftuimessenger-ca71b</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuimessenger-ca71b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443780961494:ios:d385aacba08d73b41d2577</string>
</dict>
</plist>